@import '../../assets/styles/main.scss';

.hotkeys {
  box-sizing: border-box;
  padding: 0 5%;

  @media (min-width: 1600px) {
    padding-left: 18%;
    padding-right: 18%;
  }
}

.hotkeys__title {
  @include main-title();
}

.hotkeys__subtitle {
  @include font-style(500, 18px);
  line-height: 1.25;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: $dark;
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 15px;
}

.hotkeys__desc {
  @include font-style(400, 18px);
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: $medium-blue;
}

