@import '../../assets/styles/main.scss';

.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $light-blue;
  padding: 10px 5% 11px;
  margin-bottom: 70px;
  box-shadow: $grey-shadow;
  position: relative;

  @media (min-width: 1600px) {
    padding-left: 18%;
    padding-right: 18%;
  }
}

.logo {
  font-family: 'Pacifico', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.75;
  color: $light;
  text-shadow: $grey-shadow;
}

.burger {
  position: relative;
  width: 35px;
  height: 28px;
  margin-left: auto;
  cursor: pointer;
}

.burger span {
  display: block;
  position: absolute;
  width: 100%;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  height: 3px;
  background-color: $light;
  box-shadow: 0px 1px 2px rgba(0, 73, 142, 0.2);

  &:nth-child(1) {
    top: 0;

    .menu-show & {
      top: 12px;
      width: 0;
      left: 50%;
    }
  }

  &:nth-child(2) {
    top: 12px;

    .menu-show & {
      transform: rotate(45deg);
    }
  }

  &:nth-child(3) {
    top: 12px;

    .menu-show & {
      transform: rotate(-45deg);
    }
  }

  &:nth-child(4) {
    top: 25px;

    .menu-show & {
      top: 10px;
      width: 0;
      left: 50%;
    }
  }
}

.menu__list {
  display: none;
  position: absolute;
  top: 70px;
  right: 0;
  background-color: $dark-blue;
  width: 40%;
  height: calc(100vh - 70px);
  text-align: center;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 20px;
  overflow: auto;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.menu__item {
  margin-bottom: 40px;
}

.menu__link {
  @include font-style(normal, 20px);
  line-height: 1.25;
  letter-spacing: 0.005em;
  color: $light;
  text-decoration: none;
  transition-duration: 300ms;

  &:hover {
    letter-spacing: 0.05em;
    color: $light-blue;
  }
}