/*--- Text ---*/
@mixin font-style($font-weight: normal, $font-size: 16px) {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
}

@mixin main-title($margin-bottom: 30px) {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: $dark-blue;
  margin-bottom: $margin-bottom;
}

/*--- Buttons ---*/
@mixin button() {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: $light-blue;
  border: 2px solid $light-blue;
  box-sizing: border-box;
  box-shadow: $grey-shadow;
  border-radius: 5px;
  width: 132px;
  height: 31px;
  @include font-style(600, 14px);
  line-height: 1.25;
  letter-spacing: 0.015em;
  color: $light;
  cursor: pointer;
  transition-duration: 300ms;

  &:hover,
  &:focus{
    outline: none;
    background-color: $medium-blue;
    border: 2px solid $medium-blue;
  }
}

@mixin button_light() {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: $light;
  border: 2px solid $light-blue;
  box-sizing: border-box;
  box-shadow: $grey-shadow;
  border-radius: 5px;
  width: 132px;
  height: 31px;
  @include font-style(600, 14px);
  line-height: 1.25;
  letter-spacing: 0.015em;
  color: $light-blue;
  cursor: pointer;
  transition-duration: 300ms;

  &:hover,
  &:focus {
    outline: none;
    background-color: $medium-blue;
    border: 2px solid $medium-blue;
    color: $light;
  }
}

/*--- others ---*/
@mixin visually-hidden() {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}

@mixin remove-visually-hidden() {
  position: static;
  white-space: normal;
  width: auto;
  height: auto;
  overflow: auto;
  border: none;
  padding: 0;
  clip: auto;
  clip-path: none;
  margin: 0;
}